.siteTitle {
    margin-top: 20px;
    font-size: 40px;
    padding-bottom: 20px;
    text-decoration: none;
}

.activeColor {
    color: #1ab2ff;
}

.blogPostDate {
    color: #ffffff;
    font-size: 12px;
}

li.active {
    /* color: #ffffff; */
    background-color: #4f4f4f;
}


.nav-sidebar {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 4px;
    min-width: 190px;
}


@media (min-width: 992px) and (max-width: 1200px) {
    .columnAdjust {
        padding-left: 65px;
        padding-right: 30px;
    }
}

@media (min-width: 1200px) {
    .columnAdjust {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 20px;
    }
}

@media (max-width: 992px) {
    .navbar {
        margin-bottom: 0px;
    }
}

.smallPadding > tbody > tr > td{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navPanel {
    font-size: 14px; 
}

.blogPostBody p {
    padding-bottom: 10px;
}

.blogPostBody h3,
.blogPostBody h4,
.blogPostBody h5 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blogPostBody li p {
    padding-bottom: 5px;
}


@media (min-width: 992px) {
    .blogPostBody p {
        width: 66%;
    }
    
    .blogPostBody ul {
        width: 66%;
    }

    .blogPostBody h1 {
        font-size: 30px;
        width: 50%;
    }

    .blogPostBody h2 {
        font-size: 26px;
        width: 66%;
    }

    .blogPostBody h3 {
        font-size: 22px;
        width: 66%;
    }

    .blogPostBody h4 {
        font-size: 18px;
        width: 66%;
    }

    .blogPostBody h5 {
        font-size: 14px;
        width: 66%;
    }

    .blogPostBody h6 {
        font-size: 10px;
        width: 66%;
    }
    
    .blogPostContent {
        min-width: 700px;
        padding-left: 30px;
        padding-right: 30px;    
    }
}

/*  
.blogPostTitle a {
    color: #2f9dd3;
} */